@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:ital,wght@0,400;1,300&family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     
}
body{
    font-size: 0.8rem;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    letter-spacing: 1.3px;
}

input,
input::placeholder {
    /* font: 1.25rem/3 sans-serif; */
    font-weight: 700;
    font-size: 12px;
    
}

.search-bar {
    background-image: url(/img/2.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 60px 40px; /* Adjust the width and height of the icon */
    padding-right: 40px; /* Adjust the padding to make space for the icon */
}

.nav-link{
    font-size: 0.8rem;
}
  @media (max-width:991px) {
    .nav-link{
        display: flex;
        justify-content: center;
    }
}
