@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:ital,wght@0,400;1,300&family=Poppins:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    /* font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 8px;
    letter-spacing: 1.5px; */
}
.nav{
    font-size: 14px;
    /* font-family: 'Poppins',sans-serif; */
    font-weight: 700;
    letter-spacing: 1.3px;
}
.nav1{
    border-right: 2px solid black;
    height: 15px;
    margin-top: 12px;
}

.header{
    display: flex;
    /* padding: 2px 2px; */
}
.nav-link{
    padding-left: 10px;
    cursor: pointer;
}

@media (max-width:700px) {
    .media{
        flex-direction: column;
    }
}
