.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    display: flex;
    /* margin: auto; */
    justify-content: center;
    margin-left: 25rem;
}
.collapse{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     
}
body{
    font-weight: 650;
}
.nav:hover{
    color: blue;
    box-shadow: 3px 3.2px 10.1px 0.3px rgb(163, 241, 241);
    /* border: 1px solid black; */
    padding: 13px 20px 12px 12px;
    text-align: center;
    color: blue;
    border-radius: 24px;
    text-align: center;
    background: rgb(184, 184, 228);
}
.nav-link{
    font-size: 0.8rem;
}
.nav2{
    border: 1px solid black;
    border-radius: 24px;
}
button{
    border-radius: 20px;
    padding: 3px 21px;
}
.search-bar {
    background-image: url(/img/2.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 60px 40px; /* Adjust the width and height of the icon */
    padding-right: 40px; /* Adjust the padding to make space for the icon */
  }
  .img{
    display: none;
  }
@media (max-width:991px) {
    .nav-link{
        display: flex;
        justify-content: center;
    }
    .logo1{
        margin-left: auto;
    }
    .icon{
        display: none;
    }
    .img{
        display: flex;
    }
}
