@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:ital,wght@0,400;1,300&family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     
}
body{
    font-size: 0.8rem;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    letter-spacing: 1.3px;
    background-color: hsl(220deg 11.11% 94.71%);
}
.nav-link{
    font-size: 0.8rem;
}
.nav2{
    border: 1px solid black;
    border-radius: 25px;
}
@media (max-width:991px) {
    .nav-link{
        display: flex;
        justify-content: center;
    }
}