.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    display: flex;
    /* margin: auto; */
    justify-content: center;
    /* margin-left: 25rem; */
}


*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     
}
body{
    font-weight: 650;
    position: relative;
}

.nav-link{
    font-size: 0.8rem;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    letter-spacing: 1.3px;
}
.nav2{
    border: 1px solid black;
    border-radius: 24px;
}
button{
    border-radius: 20px;
    padding: 3px 21px;
}
input,
input::placeholder {
    /* font: 1.25rem/3 sans-serif; */
    font-weight: 700;
    font-size: 12px;
}

.fa-brands{
    font-size: 17px;
}
.search-bar {
    background-image: url(/img/2.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 60px 40px; /* Adjust the width and height of the icon */
    padding-right: 40px; /* Adjust the padding to make space for the icon */
}
  .navbar-logo{
    display: none;
  }
.form-control:focus{
    box-shadow: none;
}
.icon{
    position: absolute;
    left: 40%;
    top: 19%;
}
  /* .logo1 {
    position: absolute;
    top: 12%;
    left: 36%;
} */

 
@media (max-width:991px) {
    .nav-link{
        display: flex;
        justify-content: center;
    }
    .collapse{
     margin-right: 0;   
    }
    .icon{
        display: none;
    }
    .navbar-logo{
        display: flex;
        /* display: none; */
    }
}
